body{
    background-color: rgb(188, 188, 188);
}
.box{
    box-shadow: 2px 5px 9px rgb(0, 0, 0);
    width: 500px;
    height: 300px;
    margin: 20px 300px 20px 300px;
    border-radius: 50px;
    background-color: #ffffff;  
}
.a{
    color: rgb(255, 0, 0);
    background: rgb(0, 0, 0);
    border-radius: 50px;
    border: 7px dashed #ffffff;
    font-size: 60px ;
    padding-bottom: 10px;
}
button{
    color: rgb(255, 0, 0);
    background-color: black;
    border-radius: 50px;
    border: 2px dashed #fff;
    font-size: 40px;
    padding: 4px 28px 4px 28px;
    float: left;
    margin-left: 50px;
    
}
button:hover{
    color: black;
    background-color: white;
    border: 2px dashed #000000; 
    box-shadow: 2px 5px 9px rgb(0, 0, 0);
    transition: 0.75s ;   
}

.Dex a{
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 50px;
    border: 2px dashed #fff;
    font-size: 15px;
    padding: 4px 28px 4px 28px;
    float: left;
    margin-left: 165px;
    margin-top: 30px;
    text-decoration:none;
}
.Dex :hover{
    color: black;
    background-color: white;
    border: 2px dashed #000000; 
    box-shadow: 2px 5px 9px rgb(0, 0, 0);
    transition: 0.75s ; 
}